
Lesson1/Методичка 1. Основы языка Swift. Введение.pdf
Lesson1/Презентация 1. Основы языка Swift. Введение.pdf
Lesson2/Методичка 2. Основы языка Swift. Синтаксис Swift. Основные операторы.pdf
Lesson2/Презентация 2. Основы языка Swift. Синтаксис Swift. Основные операторы.pdf
*.pdf
Lesson5/Lesson5.playground/Contents.swift
Lesson5/Lesson5.playground/contents.xcplayground
Lesson5/Lesson5.playground/playground.xcworkspace/contents.xcworkspacedata
Lesson5/Lesson5.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lesson5/Lesson5.playground/playground.xcworkspace/xcuserdata/aleksanderpankow.xcuserdatad/UserInterfaceState.xcuserstate
VK App/Pods/Realm/core/realm-monorepo.xcframework/watchos-armv7k_arm64_32/librealm-monorepo.a
VK App/Pods/Realm/core/realm-monorepo.xcframework/watchos-arm64_i386_x86_64-simulator/librealm-monorepo.a
